@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

/* &display=swap */
/* ========================================================================================== */
/* 1. Входе некотого времени не мог понять почему не применяется шрифты к заголовку h1, потом меня осинило, что подключаемые мной шрифты не имеют кирилицы, при записи содержимого заголовка латиницой проблема ушла
2. Входе экспериментов было выявленно, что синтаксис записи все объекты с классом должны записываться без пробела.
3. Наследственноть, нужно обратить на это доп.внимание. Как к наследуемым параметрам относятся параметры для текста 
В обнуляющем стиле от Настваика включена принудительное  наследование свойств  font-weight и font-size со значениями inherit-наследовать для заголовков */
h1.page-two{
	font-family: 'larsseit_bold';
	font-size: 50px;
	/* выравнивание теста по  центру родительского блока  */
	text-align: center;
	text-transform: uppercase;
	color: blue;
}
/* text-align не применяется к картинке на прямую тоесть к селектору img, но при при вложении картинки в родительский элемент  "p" всё заработало. Картинки ведь блочно-строчный, но на css параметр для текста не отзывается  */
p.prowierka{
	text-align: center;
}
/*===================================================================================================================================*/
.main.paragraph-one{
	color: rgb(58, 226, 43);
	font-family:Lato, serif ;
	text-align: justify;
}

p.paragraph-two{
	color: rgb(33, 30, 210);
	font-family: Lato;
	font-weight: 900;
	text-align: center;
	font-size: 20px;
	text-decoration: underline;
	word-spacing: 15px;
}
/*
text-decoration (наследуется), но перезаписать значение родителя через обращение к селектору дочернего элемента нельзя 
Добавляет оформление текста в виде его подчеркивания, 
перечеркивания, линии над текстом и мигания. 
Одновременно можно применить более одного стиля, перечисляя значения через пробел. Это свойство наследуется и может принимать значения:
line-through - Создает перечеркнутый текст.
overline - Линия проходит над текстом.
underline - Устанавливает подчеркнутый текст. 
none - Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию.
*/
span.dupa{
	font-size: 25px;
	font-family:"larsseit_bold";
	color: yellow;
}

span.letter-spacing{
	letter-spacing: 5px;
	color: red;
	text-shadow:5px -2px 2px rgba(9, 2, 2, 0.686);
}
